[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "neo4jshell"]
	path = neo4jshell
	url = https://github.com/keithmcnulty/neo4jshell
[submodule "onadata"]
	path = onadata
	url = https://github.com/keithmcnulty/onadata
[submodule "peopleanalyticsdata"]
	path = peopleanalyticsdata
	url = https://github.com/keithmcnulty/peopleanalyticsdata
[submodule "wikifacts"]
	path = wikifacts
	url = https://github.com/keithmcnulty/wikifacts
